@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@400;500&display=swap');

@import "tailwindcss";

html {
  font-family: 'Roboto', sans-serif; /* ✅ No @layer base here */
}
.bree {
  font-family: "Bree Serif";
  font-weight: 550;
  font-style:normal;
}
.bree-bold {
  font-family: "Bree Serif";
  font-weight: 700;
  font-style:normal;
 
}
.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.mont{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-semi {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1f2937 inset !important; /* bg-gray-800 */
  -webkit-text-fill-color: white !important;
}